/* CSS Reset for Cafecito Feliz POS */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font-sans);
  background-color: var(--bg-app);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

button:disabled, input:disabled {
  cursor: not-allowed;
}

/* Chrome, Safari, Edge, Opera number input controls hiding */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox number input controls hiding */
input[type=number] {
  -moz-appearance: textfield;
}

/* Active styles for buttons */
button:active {
  transform: scale(0.98);
}
